/* VARIABLES */

:root {
    --blue-500: #3586EB;
    --blue-400: #599BE7;
    --blue-300: #80BCF8;
    --dark-500: #2B2F34;
    --dark-400: #34393E;
    --dark-300: #5C636A;
    --dark-200: #C8D1D5;
    --white: #fff
}

/* TAGS */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: var(--dark-400);
}

button {
    border: 0;
    background-color: transparent;
}

html {
    scroll-behavior: smooth;
}
nav {
    background-color: rgba(255, 255, 255, 0.45);
    backdrop-filter: blur(12px);
    box-shadow: 0px 4px 4px rgba(53, 134, 235, 0.25);
    letter-spacing: 0.15rem;
    position: sticky;
    top: 0;
}

nav ul {
    display: inline-flex;
    gap: 2em
}

nav li {
    list-style: none;
    
}

ul li a:hover {
    color: var(--blue-500);
}

h1 {
    font-size: 3em;
}

footer {
    background-color: var(--dark-300);
    
}


/* IDS */
#hero {
    margin: 10em 0
}

#profile-picture {
    border-radius: 100%;
    border: 10px solid var(--blue-500) 
}

#skills {
    background-color: var(--blue-400);
}

#navbar-button {
    display: none;
}


/* CLASSES */
.contact:hover {
    color: var(--blue-500);
}

.contact {
    margin-left: auto;
}

.logo-wrapper {
    margin: 2rem 0 1rem;
    padding: 1rem;
    border-radius: 100%;
    background-color: var(--white);
}

.gap {
    gap: 4rem;
}

.py-2 {
    padding: 2em 0;
}

.py-4 {
    padding: 4em 0;
}

.page-wrapper {
    max-width: 60%;
    margin: 0 auto;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.space-y {
    gap: 1em;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.highlight-word {
    color: var(--blue-500);
}

.underscore {
    animation: blink 1s infinite;
}

.card {
    background-color: white;
    color: var(--dark-400);
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(53, 134, 235, 0.25);
    padding: 3em;
}

.works-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
    row-gap: 15px;
}

.project-card {
    border-radius: 15px;
    border: 10px solid var(--blue-400); 
    /* width: 350px; */
    height: 250px;
}

.project-card:hover {
    border: 10px solid var(--blue-500);
}

.type-animate-end {
    animation: blink 0.5 step-end infinite ;
}

.action-button {
    padding: 1em 4em;
    background-color: var(--blue-400);
    color: white;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 4px 4px rgba(53, 134, 235, 0.25);
    cursor: pointer;
    font-weight: 700;
    font-size: large;


}

.action-button:hover {
    animation: wow-background 2s infinite;
}

@keyframes wow-background {
    0% {
        
        background-color: var(--blue-500);
    }
    50% {
        background-color: var(--dark-300)
        
    }
    100% {
        background-color: var(--blue-500);
    }
}

@keyframes blink {
    0% {
        visibility: visible;
    }
    100% {visibility: hidden;}
}

@media screen and (max-width: 900px) {
    
    #hero .page-wrapper.flex-row {
        flex-direction: column-reverse;
        justify-content: center!important;
    }
    .page-wrapper {
        max-width: 95%;
    }

    .page-wrapper.flex-row {
        flex-direction: column;
        justify-content: center!important;
    }

    #profile-picture-wrapper {
        margin: auto;
    }
    #hero {
        margin: 2rem 0;
    }
    #profile-picture {
        width: 150px;
        height: 150px;
    }
    .gap {
        gap: 1rem;
    }
    .works-grid {
        grid-template-columns: auto auto;
        column-gap: 10px;
        row-gap: 15px;
    }
}




@media screen and (max-width: 700px) {
    nav ul{
        flex-direction: column;
        justify-content: start!important;
        display: none;
    }
    nav ul li {
        padding: 0.2rem 0;
    }
    nav div {
        padding: 1em!important;
    }

    #nav-logo {
        display: none;
    }

    #navbar-button {
        display: block;
    }
    .contact {
        margin: 0;
    }
}